$black-color: #282c34;
$blue-color: #61dafb;
$gray-color: #e1e1e1;
$white-color: #ffffff;

.App {
  text-align: center;
  
  .App-header {
    background-color: $black-color;
    padding: 20px 0;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $white-color;
  }
  
  .App-link {
    color: $blue-color;
  }
  
  section {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 750px;
  }

  ul {
    list-style-type: none;
  }

  button, a.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: $black-color;
    text-decoration: none;
    background-color: $gray-color;
    font-size: 12px;
  }

  button:hover:not([disabled]), .button:hover {
    background-color: #ccc;
  }

  button[disabled] {
    cursor: not-allowed;
  }

  input {
    min-width: 250px;
    padding: 10px;
  }

  input:focus{
    outline: none;
  }
  
  select {
    padding: 10px;
    margin: 0 10px;
  }

  .connectedBar {
    background-color: $gray-color;
    margin: 0;
    padding: 0;

    ul.inline {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  section.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    position: relative;
    padding: 5px 20px;
    margin-top: 25px;

    button, button:hover {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f8d7da;
      color: #842029;
    }
  }
}
