$black-color: #282c34;
$blue-color: #61dafb;
$white-color: #ffffff;

.App {
  text-align: center;
  
  .App-header {
    background-color: $black-color;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white-color;
  }
  
  .App-link {
    color: $blue-color;
  }
  
  section {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 750px;
  }

  ul {
    list-style-type: none;
  }

  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }

  button:hover:not([disabled]) {
    background-color: #ccc;
  }

  button[disabled] {
    cursor: not-allowed;
  }

  input {
    min-width: 250px;
    padding: 10px;
  }

  input:focus{
    outline: none;
  }
  
  select {
    padding: 10px;
    margin: 0 10px;
  }
}
